RewriteEngine On

RewriteRule ^home?$ index.php

RewriteRule ^responsavel?$ responsavel.php
RewriteRule ^responsavel/([0-9]+) responsavel.php?id=$1
RewriteRule ^deletar-responsavel/([0-9]+) src/deletarResponsavel.php?id=$1
RewriteRule ^deletar-aluno-responsavel/([0-9]+)/([0-9]+) src/deletarAlunoDoResponsavel.php?resp=$1&aluno=$2

RewriteRule ^aluno?$ aluno.php
RewriteRule ^aluno/([0-9]+) aluno.php?id=$1
RewriteRule ^deletar-aluno/([0-9]+) src/deletarAluno.php?id=$1

RewriteRule ^turma?$ turma.php
RewriteRule ^turma/([0-9]+) turma.php?id=$1
RewriteRule ^deletar-turma/([0-9]+) src/deletarTurma.php?id=$1

RewriteRule ^disciplina?$ disciplina.php
RewriteRule ^disciplina/([0-9]+) disciplina.php?id=$1
RewriteRule ^deletar-disciplina/([0-9]+) src/deletarDisciplina.php?id=$1

RewriteRule ^professor?$ professor.php
RewriteRule ^professor/([0-9]+) professor.php?id=$1
RewriteRule ^deletar-professor/([0-9]+) src/deletarProfessor.php?id=$1
RewriteRule ^deletar-disciplina-professor/([0-9]+) src/deletarDisciplinaPorProfessor.php?id=$1